.add-on{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 13vw;
    margin: 0.5em;
}
.add-on img{
    width: 13vw;
    height: 15vh;
}
.add-on-list{
    position: relative;
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.direction_left, .direction_right{
    position: absolute;
    font-size: 2em;
    color: #fcc01c;
    background-color: black;
    border-radius: 50%;
    border: 0;
}
.direction_left{
    left: -0.5em;
    top: 1em;
}
.direction_right{
    right: -0.5em;
    top: 1em;
}
.addon_btn{
    padding: 0.3em 1em;
    border: 1px solid #fcc01c;
    font-weight: 600;
}