.chef-btn{
        width: 15em;
        height: 8em;
        margin: 1em;
        padding: 1em;
        font-size: 1em;
        background: rgba(252, 192, 28, 0.2);
        border: none;
        align-items: center;
        justify-content: center;
    }
.chef-btn svg {
    font-size: 2em;
}
    .chef-btn:hover,
    .chef-btn:active {
        background: #fcc01c
    }

    @media screen and (min-width: 650px){
        .chef-btn{
            font-size: 1.5em;
            width: 8em;
            height: 9em;
        }
        
    }